<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.project.mgjandroid"
          xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21"
        />
    <!-- JPush -->
    <permission
        android:name="${APP_ID}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"
        />

    <uses-permission android:name="${APP_ID}.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 打开Camera的权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.autofocus"/>
    <!-- 开启闪光灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme"
        >
        <activity
            android:name="com.github.mzule.activityrouter.router.RouterActivity"
            android:theme="@android:style/Theme.NoDisplay"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/app_scheme"/>
            </intent-filter>
        </activity>

        <receiver android:name="com.xiaomi.market.sdk.DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

        <service android:name=".utils.MusicService"/>

        <activity
            android:name=".ui.activity.CoverPageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Ping++ SDK -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />

        <!-- 微信支付 -->
        <activity-alias
            android:name="${APP_ID}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity"
            />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.LocationActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.CommercialActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.GoodsDetailActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.AddAddressActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.AddressManageActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.SetAddressActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:screenOrientation="portrait"
            />
        <!-- 余额页面 -->
        <activity
            android:name=".ui.activity.BalanceOperateActivity"
            android:screenOrientation="portrait"
            />
        <!-- 提现页面 -->
        <activity
            android:name=".ui.activity.WithdrawActivity"
            android:screenOrientation="portrait"
            />
        <!-- 充值页面 -->
        <activity
            android:name=".ui.activity.RechargeActivity"
            android:screenOrientation="portrait"
            />
        <!-- 微信登录页面 -->
        <activity
            android:name="${APP_ID}.wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            />
        <!-- 通知中心页面 -->
        <activity
            android:name=".ui.activity.NoticeActivity"
            android:screenOrientation="portrait"
            />
        <!-- 余额说明页面 -->
        <activity
            android:name=".ui.activity.BalanceExplanationActivity"
            android:screenOrientation="portrait"
            />
        <!-- web页面 -->
        <activity
            android:name=".ui.activity.Banner2WebActivity"
            android:screenOrientation="portrait"
            />
        <!-- 分类页面 -->
        <activity
            android:name=".ui.activity.PrimaryCategoryActivity"
            android:screenOrientation="portrait"
            />
        <!-- 用户协议 -->
        <activity
            android:name=".ui.activity.UserServiceActivity"
            android:screenOrientation="portrait"
            />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"
            >
        </service>
        <!-- JPush -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>

                <category android:name="${APP_ID}"/>
            </intent-filter>
        </service>

        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            >
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>

                <category android:name="${APP_ID}"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="${APP_ID}"/>
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"
            >
        </service>
        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver"/>

        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="@string/jpush_appsecret"
            />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/baidu_appsecret"
            />

        <activity
            android:name=".ui.activity.SmsLoginActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.ConfirmOrderActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.EditUserNameActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".alipay.PayDemoActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".alipay.H5PayDemoActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.LocationMapActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".alipay.PayActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.OnlinePayActivity"
            android:screenOrientation="portrait"
            >
        </activity>

        <receiver android:name=".alipay.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.MoreSettingActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.EvaluateActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.BusinessActivity"
            android:screenOrientation="portrait"
            >
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_appsecret"
            />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="horsegj"
            />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/tencent_appid"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />
        <activity
            android:name=".ui.activity.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />
        <activity
            android:name=".ui.activity.MerchantCollectionActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.AddCautionActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".ui.activity.FindDefaultAddressActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            />
        <activity
            android:name=".ui.activity.FeedBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".chooseimage.ImgFolderListUI"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".chooseimage.ImgsUI"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.MyBankCardActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.MyRedBagActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.ExtraWithdrawActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.WithdrawWayActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.AddBankCardActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.BankCardInfoActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.PublishInfomationActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.MyPublishInfoActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.ReportActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.MorePrimaryCategoryActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.RecruitActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.JobMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            >
        </activity>
        <activity
            android:name=".ui.activity.FulltimeJobActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.ChooseCityActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.RecruitInfomationActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.ChooseEmploymentActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.SecondHandDetailActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.SecondHandMarketActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.PublishUsedGoodsInfoActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.CameraActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.UploadPhotoActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.SecondHandCategoryActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.ChooseSecondHandActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.MyPublishCategoryActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.MyPublishSecondActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.education.MyPublishEducationActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.homemaking.MyPublishHomemakingActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.TipOffActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.ChooseRentHouseActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.renthouse.RentHouseActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.activity.renthouse.MyPublishRentHouseActivity">
        </activity>
        <activity android:name=".ui.activity.renthouse.RentHouseDetailActivity">
        </activity>
        <activity
            android:name=".ui.activity.renthouse.PublishHouseLeaseInfoActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.renthouse.HouseLeaseCategoryActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.PublishEducationInfoActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.ChooseEducationTeacherOrTutorshipStageActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.education.EducationCategoryActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.ChooseEducationActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.education.EducationActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.education.EducationDetailActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.homemaking.HomemakingCategoryActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.homemaking.HomemakingTypeActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.homemaking.PublishHomeMakingInfoActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.activity.homemaking.HomeMakingActivity">
        </activity>
        <activity android:name=".ui.activity.homemaking.HomeMakingDetailActivity">
        </activity>
        <activity
            android:name=".ui.activity.repair.PublishRepairInfoActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.repair.MyPublishRepairActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.repair.RepairCategoryActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".ui.activity.repair.RepairActivity">
        </activity>
        <activity android:name=".ui.activity.repair.RepairDetailActivity">
        </activity>
    </application>

</manifest>